doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/add-product.css")
        link(rel="stylesheet", href="/css/shop.css")
    body 
        include ./includes/navigation.pug
        h1 Some error occurred! 
        p we are working on fixing this ,sorry for the inconvenience!